<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login page</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="justify-content-center pagination mt-5">
    <form method="post" action="/login">
        <div class="border rounded border-1 p-4 mt-5"
             style="width: 400px; border-color: #0D6EFD22;">
            <p class="fs-2 fw-bold text-start">Please sign in</p>
            <div class="alert alert-danger visually-hidden" role="alert">Bad credentials</div>
            <label class="visually-hidden" for="usernameLogin">Username</label>
            <div class="input-group">
                <div class="input-group-text justify-content-center" style="width: 40px"><b></b></div>
                <input type="text" class="form-control" id="usernameLogin" name="j_username"
                       placeholder="username" required>
            </div>
            <label class="visually-hidden" for="passwordLogin">Password</label>
            <div class="input-group">
                <div class="input-group-text justify-content-center" style="width: 40px"><b></b></div>
                <input type="password" class="form-control" id="passwordLogin" name="j_password"
                       placeholder="password" required>
            </div>
            <input class="col-12 btn btn-primary" style="margin-top: 10px" type="submit"/>
        </div>
    </form>
</div>
</body>
</html>